/* pages/competition/editcity/editcity.wxss */
.input-div{
  padding: 30rpx;
}

.picker{
  font-size: 32rpx;
  padding-bottom: 10rpx;
  border-bottom: 1rpx solid #eeeeee;
}
.save{
  width: 500rpx;
  height: 70rpx;
  text-align: center;
  line-height: 70rpx;
  margin: 20rpx auto;
  background: #00489D;
  color:#fff;
  font-size: 26rpx;
  border-radius: 10rpx;
}