/* pages/competition/editeammember/editeammember.wxss */
.main{
  padding: 0 40rpx;
}
.input{
  padding:0 20rpx;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 32rpx;
  overflow: hidden;
  border-bottom: 1rpx solid #eeeeee;
}
.input view{
  float: left;
  font-size: 24rpx;
  height: 100%
}
.input input{
  height: 100%;
  line-height: 80rpx;
  float:left;
  vertical-align: middle
}
.save{
  width: 500rpx;
  height: 70rpx;
  text-align: center;
  line-height: 70rpx;
  margin: 20rpx auto;
  background: #00489D;
  color:#fff;
  font-size: 26rpx;
  border-radius: 10rpx;
}